<%= form_with(model: var, local: true) do |form| %>
 <p>
   <%= form.label :user %><br>
   <%= form.text_field :user, value: 'Anonymous' %>
 </p>
 <p>
   <%= form.label :body %><br>
   <%= form.text_area :body, cols: 40, rows: 10 %>
 </p>
 <p>
   <%= form.submit %>
 </p>
<% end %>
