<hr/>
<p>
  <strong>User:</strong>
  <%= reply.user %> | <b>Date:</b>
  <%= reply.created_at.strftime('%B %e, %Y') %>
</p>
<p>
  <strong>Message:</strong>
  <%= markdown(reply.body) %>
</p>

<p>
  <p>
    <%= link_to 'Edit', edit_board_topic_reply_path(reply.topic.board.name, reply.topic, reply) %>
  </p>
  <%= link_to 'Destroy', [reply.topic.board, reply.topic, reply],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
