<%= form_with model: @topic, local: true do |form| %>

<%= render 'shared/errors', obj: @topic %>

  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :message %><br/>
    <%= form.text_area :message %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
