<% if (!topic.title.nil? && !topic.message.nil?) %>
<hr/>
<p>
  Topic <a href=""
           onclick="replyFocus('0',
           <%= topic.id %>); return false">#<%=
           topic.id %></a>
  | <%= link_to 'Replies: ' + topic.replies.count.to_s,
                board_topic_path(topic.board, topic) + "#1" %>
</p>
<p>
  <strong>Title:</strong>
  <%= topic.title %>
  | User: <%= topic.user %>
  | Date: <%= topic.created_at.strftime('%H:%M — %B %e, %Y') %>
  | Bumped at: <%= topic.bumped_at %>
</p>
  <%= markdown(topic.message) %>


<% if !topic.replies.empty? %>
<p>
  Last replies:
</p>

  <% if (topic.replies.count == 1) %>
    <%= render topic.replies.order('created_at DESC').limit(1) %>

  <% else %>
    <%= render topic.replies.order('created_at DESC').limit(1).offset(1) +
               topic.replies.order('created_at DESC').limit(1)%>
  <% end %>

<% end %>

<hr/>
<h3>Відповісти до теми #<%= topic.id %>:</h3>
<%= render 'replies/form', var: [@board, topic, topic.replies.build] %>

<p>
  <%= link_to 'Show', board_topic_path(topic.board, topic) %>
</p>

<p>
  <%= link_to 'Edit', edit_board_topic_path(topic.board, topic) %>
</p>

<p>
  <%= link_to 'Destroy', [topic.board, topic],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<% end %>
