<% if (!topic.title.nil? && !topic.message.nil?) %>
<hr/>
<p>
  <strong>Topic:</strong>
  <%= topic.title %> | Date: <%= topic.created_at.strftime('%H:%M — %B %e, %Y') %>
  | Topic #<%= topic.id %> | Replies: <%= topic.replies.count %>
</p>
  <%= markdown(topic.message) %>

<p>
  Last three replies:
</p>

<%= render topic.replies.limit(2) %>

<%= render 'replies/form', var: [@board, topic, topic.replies.build] %>

<p>
  <%= link_to 'Show', board_topic_path(topic.board, topic) %>
</p>

<p>
  <%= link_to 'Edit', edit_board_topic_path(topic.board, topic) %>
</p>

<p>
  <%= link_to 'Destroy', [topic.board, topic],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<% end %>
