<h1>Всі треди</h1>

<p><%= link_to 'New', new_topic_path %></p>

<%= render 'form' %>

<table>
  <tr>
    <th>Тема</th>
    <th>Повідомлення</th>
    <th></th>
  </tr>

  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title %> | <%= topic.created_at.strftime('%B %e, %Y') %></td>
      <td><%= markdown(topic.message) %></td>
      <td><%= link_to 'Show', topic_path(topic) %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Destroy', topic_path(topic),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
