<p id="0">
  <strong>Title:</strong>
  <%= @topic.title %>
  | <b>Date:</b> <%= @topic.created_at.strftime('%B %e, %Y') %>
  | <b>Time:</b> <%= @topic.created_at.strftime('%H:%M') %>
  | Topic #<%= @topic.id %> | Replies: <%= @topic.replies.count %>
</p>

<p>
  <%= markdown(@topic.message) %>
</p>

<h2>Replies</h2>
<%= render @topic.replies %>

<hr/>
<h2>Add a reply:</h2>
<%= render 'replies/form', var: [@board, @topic, @topic.replies.build] %>


<%= link_to 'Edit', edit_board_topic_path(@board.name) %>
<%= link_to 'Destroy', board_topic_path(@board.name),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<%= link_to 'Всі треди', board_path(@board.name) %>

<script>
  document.body.innerHTML = document.body.innerHTML.replace(/@\d+/g, function(x) {
    return '<a href="' + '#' + x.substr(1) + '">' + x + '</a>';
  });

  function replyFocus(id, topic_id) {
    topic_id_read = "t" + topic_id.toString();
    let x = document.getElementById(topic_id_read);
    if (x.value) {
      x.value = x.value + "\n\n@" + id + "\n\n"}
    else {
      x.value = x.value + "@" + id + "\n\n"
    }
  x.focus();

}
</script>
