<p>
  <strong>Title:</strong>
  <%= @topic.title %>
  | <b>Date:</b> <%= @topic.created_at.strftime('%B %e, %Y') %>
</p>

<p>
  <strong>Message:</strong>
  <%= markdown(@topic.message) %>
</p>

<h2>Replies</h2>
<%= render @topic.replies %>

<hr/>
<h2>Add a reply:</h2>
<%= render 'replies/form', var: [ @topic, @topic.replies.build ] %>

<%= link_to 'Edit', edit_topic_path(@topic) %>
<%= link_to 'Destroy', topic_path(@topic),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<%= link_to 'Всі треди', topics_path %>
