<p><%= link_to 'Home', root_path %>
   <%= link_to 'Rules', rules_path %>
   <%= link_to 'Howto', howto_path %>
   <%= link_to 'About', about_path %></p>

<h1>Всі дошки</h1>

<p><%= link_to 'New', new_board_path %></p>

<table>
  <tr>
    <th>Назва</th>
    <th>Опис</th>
    <th></th>
  </tr>

  <% @boards.each do |board| %>
    <tr>
      <td><%= board.name %></td>
      <td><%= board.description %></td>
      <td><%= link_to 'Show', board_path(board) %></td>
      <td><%= link_to 'Edit', edit_board_path(board) %></td>
      <td><%= link_to 'Destroy', board_path(board),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
