<p>
  | <b>Board created:</b> <%= @board.created_at.strftime('%H:%M — %B %e, %Y') %>
</p>

<h1 align="center">
  /<%= @board.name %>/ —
  <%= @board.description %>
</h1>
<hr/>

<h2>Розпочати нову тему:</h2>
<button onclick="toggleTopicForm(0)">Toggle</button>
<div style="display:block;" class="topic-form-cont">
  <%= render 'topics/form', var: [ @board, @board.topics.build ] %>
</div>

<%= render @board.topics.left_joins(:replies).group('topics.id').order(
          'IFNULL(MAX(replies.created_at), topics.created_at) DESC') %>

<h2>Розпочати нову тему:</h2>
<button onclick="toggleTopicForm(1)">Toggle</button>
<div style="display:block;" class="topic-form-cont">
  <%= render 'topics/form', var: [ @board, @board.topics.build ] %>
</div>

<hr/>
<%= link_to 'Всі Дошки', boards_path %>

<script>
  function getLinks(topic_id_pure, board_name) {
    topic_id = "t" + topic_id_pure.toString();
    document.getElementsByClassName(topic_id)[0].innerHTML =
                    document.getElementsByClassName(topic_id)[0].innerHTML.replace(/@\d+/g, function(x) {
        return '<a href="' + '/boards/' + board_name + '/topics/' + topic_id_pure + '#' + x.substr(1) + '">' + x + '</a>';
      });
    document.getElementsByClassName(topic_id)[1].innerHTML =
                    document.getElementsByClassName(topic_id)[1].innerHTML.replace(/@\d+/g, function(x) {
        return '<a href="' + '/boards/' + board_name + '/topics/' + topic_id_pure + '#' + x.substr(1) + '">' + x + '</a>';
      });
  }

  function replyFocus(id, topic_id) {
    topic_id_read = "t" + topic_id.toString();
    let x = document.getElementById(topic_id_read);
    x.value = x.value + "@" + id + " ";
    x.focus();
  }

  for (i = 0; i < document.getElementsByClassName("topic-form-cont").length; i++) {
    document.getElementsByClassName("topic-form-cont")[i].style.display = "none";
  }
  function toggleTopicForm(which) {
    let form = document.getElementsByClassName("topic-form-cont")[which];
    if (form.style.display === "none") {
      form.style.display = "block";
      document.getElementsByName("topic[message]")[which].focus();
    } else {
      form.style.display = "none";
    }
  }
</script>
