<p>
  <strong>Name:</strong>
  <%= @board.name %>
  | <b>Date:</b> <%= @board.created_at.strftime('%H:%M — %B %e, %Y') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<%= render 'topics/form', var: [ @board, @board.topics.build ] %>

<%= render @board.topics.left_joins(:replies).group('topics.id').order(
          'IFNULL(MAX(replies.created_at), topics.created_at) DESC') %>

<hr/>
<%= link_to 'Всі Дошки', boards_path %>
