<p>
  <strong>Name:</strong>
  <%= @board.name %>
  | <b>Date:</b> <%= @board.created_at.strftime('%H:%M — %B %e, %Y') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<h2>Розпочати тему:</h2>
<%= render 'topics/form', var: [ @board, @board.topics.build ] %>

<%= render @board.topics.left_joins(:replies).group('topics.id').order(
          'IFNULL(MAX(replies.created_at), topics.created_at) DESC') %>

<h2>Розпочати нову тему:</h2>
<%= render 'topics/form', var: [ @board, @board.topics.build ] %>

<hr/>
<%= link_to 'Всі Дошки', boards_path %>

<script>
  document.body.innerHTML = document.body.innerHTML.replace(/@\d+/g, function(x) {
    return '<a href="' + '#' + x.substr(1) + '">' + x + '</a>';
  });

  function replyFocus(id, topic_id) {
    topic_id_read = "t" + topic_id.toString();
    let x = document.getElementById(topic_id_read);
    if (x.value) {
      x.value = x.value + "\n\n@" + id + "\n\n"}
    else {
      x.value = x.value + "@" + id + "\n\n"
    }
  x.focus();

  }
</script>
