<p>
  | <b>Board created:</b> <%= @board.created_at.strftime('%H:%M — %B %e, %Y') %>
</p>

<h1 align="center">
  /<%= @board.name %>/ —
  <%= @board.description %>
</h1>
<hr/>

<h2>Розпочати нову тему:</h2>
<%= render 'topics/form', var: [ @board, @board.topics.build ] %>

<%= render @board.topics.left_joins(:replies).group('topics.id').order(
          'IFNULL(MAX(replies.created_at), topics.created_at) DESC') %>

<h2>Розпочати нову тему:</h2>
<%= render 'topics/form', var: [ @board, @board.topics.build ] %>

<hr/>
<%= link_to 'Всі Дошки', boards_path %>

<script>
  function getLinks(topic_id_pure, board_name) {
    topic_id = "t" + topic_id_pure.toString();
    document.getElementsByClassName(topic_id)[0].innerHTML =
                    document.getElementsByClassName(topic_id)[0].innerHTML.replace(/@\d+/g, function(x) {
        return '<a href="' + '/boards/' + board_name + '/topics/' + topic_id_pure + '#' + x.substr(1) + '">' + x + '</a>';
      });
    document.getElementsByClassName(topic_id)[1].innerHTML =
                    document.getElementsByClassName(topic_id)[1].innerHTML.replace(/@\d+/g, function(x) {
        return '<a href="' + '/boards/' + board_name + '/topics/' + topic_id_pure + '#' + x.substr(1) + '">' + x + '</a>';
      });
  }

  function replyFocus(id, topic_id) {
    topic_id_read = "t" + topic_id.toString();
    let x = document.getElementById(topic_id_read);
    x.value = x.value + "@" + id + " ";
  x.focus();

  }
</script>
